<form [formGroup]="sideBarForm">
  <div class="mt-3">
  <mat-form-field>
    <mat-label>Recherche par nom :</mat-label>
    <input matInput placeholder="Nom du parc" formControlName="nomParc">
  </mat-form-field>
</div>

  <section>
    <h4>Type :</h4>
    <mat-checkbox formControlName="attraction">Attraction</mat-checkbox>
    <mat-checkbox formControlName="aquatique">Aquatique</mat-checkbox>
    <mat-checkbox formControlName="spectacle">Spectacle</mat-checkbox>
    <mat-checkbox formControlName="zoo">Animalier</mat-checkbox>
  </section>

  <app-list-region [formRegion]="sideBarForm"></app-list-region>

  <section>
    <h4>Parking :</h4>
    <mat-checkbox formControlName="parkingGratuit">Gratuit</mat-checkbox>
  </section>

  <section>
    <h4>Divers :</h4>
    <mat-checkbox formControlName="restauration">Restaurant</mat-checkbox>
    <mat-checkbox formControlName="boutique">Boutique</mat-checkbox>
    <mat-checkbox formControlName="sejour">Séjour</mat-checkbox>
  </section>
</form>
