<!--<section>
  <div class='row justify-content-start'>

    <div class="col-12">
      <div class="row justify-content-center ">
        &lt;!&ndash; card &ndash;&gt;

        <mat-card class="row type-card col-6 mb-4 ms-4" *ngFor="let parc of parcs" >
          <mat-card-title-group class="btnhover">
            <mat-card-title style="text-decoration: underline;">{{parc.nomParc}}</mat-card-title>
            <mat-card-subtitle>
              Boutique: {{parc.boutique == '1' ? 'Oui' : 'Non'}}<br />
              Restauration:{{parc.restauration == '1' ? 'Oui' : 'Non'}} <br />
              Séjour: {{parc.sejour == '1' ? 'Oui' : 'Non'}} <br />
              Parking: {{parc.parkingString}} <br />
            </mat-card-subtitle>
            <img mat-card-lg-image class="img" src="{{parc.urlImgPrez}}">
          </mat-card-title-group>
          {{parc.presentationMax250}}
          <mat-card-content>
            <br />
            <div class="row">
              <div class="col  ">
                <mat-card-title> Localisation</mat-card-title>
                Région : {{parc.nomRegion}}
                <br />Ville :
                <br />Code Postal :
                <br />
                <br />

              </div>
            </div>
            <a href="" target="_blank"><button type="button" class="offset-md-7 btn btn-danger btnhover mt-4">Achetez vos places</button></a>
          </mat-card-content>

        </mat-card>
      </div>
    </div>
  </div>

</section>


<section>
  <div class='row justify-content-start'>

    <div class="col-12">
      <div class="row justify-content-center ">
  <mat-card  class="row mb-3 pr-5" *ngFor="let parc of parcs">
    <div class="col-md-4 d-flex justify-content-center">
      <img mat-card-lg-image class="img" src="{{parc.urlImgPrez}}">
    </div>
    <div class="col-md-8 d-flex flex-column">
      <div  class="mt-3">
        <div class="d-flex justify-content-between align-items-center mb-3">
          <div>{{parc.libelleTypeParc}}</div>
          <h2 class="mb-2 mx-auto">{{parc.nomParc}}</h2>
          <mat-card-title class="mb-2 mx-auto" style="text-decoration: underline;">{{parc.nomParc}}</mat-card-title>
          <div>{{parc.nomRegion}}</div>
        </div>
        <div>
          {{parc.presentationMax250}}
        </div>
        <mat-card-content>
        <div class="mt-3 mb-3">Tarifs:
          <mat-card-title> Tarifs: </mat-card-title>
          <div>Adulte : {{parc.prixAdulte}}€</div>
          <div>Enfant : {{parc.prixEnfant}}€</div>
        </div>
          </mat-card-content>
      </div>
      <div class=" mt-auto d-flex justify-content-center">
        <button mat-flat-button class="mr-3">Détail</button>

        <button mat-flat-button>Acheter</button>

      </div>
    </div>
  </mat-card>
      </div>
    </div>
  </div>
</section>-->


<section class="container">
  <div class='row justify-content-start'>
    <div class="col-12">
      <div class="row justify-content-center ">
  <mat-card  class="row mb-3 pr-5" *ngFor="let parc of parcs">
    <div class="d-flex justify-content-between align-items-center mb-3">
    {{parc.libelleTypeParc}}
    <mat-card-title style="text-decoration: underline;">{{parc.nomParc}}</mat-card-title>
    {{parc.nomRegion}}
    </div>
    <mat-card-title-group class="btnhover">
      <mat-card-content>
        <div>
          {{parc.presentationMax250}}
        </div>
          <mat-card-title class="mt-3"> Tarifs: </mat-card-title>
          <div>Adulte : {{parc.prixAdulte}}€</div>
          <div>Enfant : {{parc.prixEnfant}}€</div>

        <div class=" mt-auto d-flex justify-content-center mt-3">
          <button mat-flat-button color="primary"><mat-icon>info</mat-icon>Détail</button>
          <button mat-flat-button color="accent"><mat-icon>shopping_cart</mat-icon>Acheter</button>
        </div>
      </mat-card-content>
      <img mat-card-lg-image class="img mb-5" src="{{parc.urlImgPrez}}">
    </mat-card-title-group>

  </mat-card>
      </div>
    </div>
  </div>
</section>
