<app-header></app-header>
<div class="container mb-5 mt-5">

  <div class="col">
    <form [formGroup]="formResetPassword" (ngSubmit)="onSubmit()">
      <div class="d-flex justify-content-center">
        <div class="text-center">
          <h1>Reinitialisation du mot de passe</h1>
          <div>
            <mat-form-field>
              <mat-label>Password</mat-label >
              <input type="password" matInput formControlName="password">
            </mat-form-field>
          </div>
          <div>
            <mat-form-field>
              <mat-label>Confirme Password</mat-label >
              <input type="password" matInput formControlName="confPassword">
            </mat-form-field>
            <div class="col">
              <c-alert color="danger" *ngIf="submitted && errorMessage">
                {{ errorMessage }}
              </c-alert>

            </div>
          </div>
          <button class="mt-3" type="submit" mat-raised-button color="primary" [routerLink]="['/connexion']" >Annuler</button>
          <button class="mt-3" type="submit" mat-raised-button color="accent">Valider</button>

        </div>
      </div>
    </form>
  </div>
</div>
<app-footer></app-footer>
