<form class="row g-4 mt-2 row justify-content-evenly">
  <div class="col-auto">
    <select class="form-select form-select mb-3" aria-label=".form-select-lg ">
      <option value="all" selected>Type / Tous</option>
      <option value="attraction">Attraction</option>
      <option value="aquatique">Aquatique</option>
      <option value="spectacle">Spectacle</option>
      <option value="zoo">Animalier</option>
    </select>
  </div>
  <div class="col-auto">
    <input id="ville" class="form-control" type="text" placeholder="Votre ville" aria-label="default input ">
  </div>
  <div class="col-auto">
    <select class="form-select form-select mb-3" aria-label=".form-select-lg ">
      <option value="0" selected>Distance</option>
      <option value="100"> -100 km</option>
      <option value="250"> -250 km</option>
      <option value="500"> -500 km</option>
    </select>
  </div>
  <div class="col-auto">
    <button id="recherche" type="button" class="btn btn-primary btn mb-3 text-capitalize">Allons au parc</button>
  </div>
</form>
