  <div class="card mt-5 btnhover w10r" [routerLink]="['/recherche']" [queryParams]="{typeparc: 'attraction'}">
    <a><img src="../../assets/img/carousel.jpg" class="card-img-top img-fluid"
            alt="Parc d'attraction" ></a>
    <div class="centered">Attraction</div>
  </div>

  <div class="card mt-5 btnhover w10r"
       data-mdb-ripple-color="light" [routerLink]="['/recherche']" [queryParams]="{typeparc: 'aquatique'}" >
    <a><img src="../../assets/img/Tobogan.jpg" class="card-img-top img-fluid"
            alt="Parc d'aquatique"></a>
    <div class="centered">Aquatique</div>
  </div>


  <div class="card mt-5 btnhover w10r" [routerLink]="['/recherche']" [queryParams]="{typeparc: 'spectacle'}">
    <a><img src="../../assets/img/Spectacle.jpg" class="card-img-top img-fluid"
            alt="Parc à Spectacle"></a>
    <div class="centered">Spectacle</div>
  </div>


  <div class="card mt-5 mb-5 btnhover w10r" [routerLink]="['/recherche']" [queryParams]="{typeparc: 'zoo'}">
    <a><img src="../../assets/img/Zoo.jpg" class="card-img-top img-fluid"
            alt="Parc Zoologique"></a>
    <div class="centered">Animalier</div>
  </div>


